* {
  box-sizing: border-box;
}

body {
  color: white;
  font-family: "Circular Book";
  margin: 0;
  font-size: 14px;
  letter-spacing: normal;
  line-height: 18px;
}

.header {
  height: 80px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  box-shadow: rgba(168, 185, 255, 0.425) 0px 1px 7px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 2;
  background: #192455;
  border-width: thin;
}
.header_logo {
  height: 75px;
  flex: 0 100px;
}
.header_logo img {
  width: 100%;
  height: auto;
}

.header_search {
  display: inline-flex;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  border: 1px solid #a8b9ff;
  transition: box-shadow 0.2s ease;
}

.header_search:hover {
  box-shadow: 0px 1px 2px rgba(173, 39, 239, 0.8);
}

.header_search button,
input {
  background: transparent;
  height: 48px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: white;
}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

.header_nav {
  display: flex;
  justify-content: flex-end;
}

.header_nav:hover {
  box-shadow: 0px 1px 2px rgba(173, 39, 239, 0.8);
}
.header_add_button {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  border-radius: 22px;
  cursor: pointer;
  text-decoration: none;
  color: #a8b9ff;
  height: 48px;
  font-size: 14px;
}

.main {
  position: relative;
  padding-top: 80px;
}

.main_map {
  width: calc(100% - 540px);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.main_googleMap {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
}
.main_content {
  min-height: calc(100vh - 80px);
  width: 540px;
  padding: 70px 54px 0;
  background-color: #1f2d6a;
  scroll-behavior: smooth;
}

#line-up div {
  border-radius: 10px;
  border-style: outset;
  border-color: #a8b9ff;
  border-width: 2px;
  padding: 10px 30px;
  background-color: #192455;
  margin: 28px;
}

#line-up div:hover {
  box-shadow: rgba(173, 39, 239, 0.25) -5px 5px,
    rgba(240, 46, 170, 0.2) -10px 10px, rgba(240, 46, 170, 0.1) -15px 15px;
}
.main_content p {
  font-size: 20px;
  color: white;
}

.main_content h1 {
  margin-top: 18px;
  font-size: 32px;
  padding: 0 30px;
}

.form-popup {
  display: none;
  position: fixed;
  top: 80px;
  right: 0;
  border: 1px outset #a8b9ff;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  width: 280px;
  padding: 10px;
  background-color: #1f2d6a;
}

.form-container input[type="text"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
label {
  color: white;
}

.form-container .btn {
  background-color: #a8b9ff;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}
.form-container .cancel {
  background-color: #ad27ef;
}

textarea:focus,
input:focus {
  outline: none;
}
