* {
  box-sizing: border-box;
}
html {
  overscroll-behavior: none;
}

body {
  color: white;
  font-family: "Roboto";
  margin: 0;
  font-size: 14px;
  letter-spacing: normal;
  line-height: 18px;
}

#map {
  width: 100%;
  height: 100%;
}
.header {
  height: 80px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  box-shadow: rgba(168, 185, 255, 0.425) 0px 1px 7px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 2;
  background: #192455;
  border-width: thin;
}
.header_logo {
  height: 75px;
  flex: 0 100px;
}
.header_logo img {
  width: 95%;
  height: auto;
  padding: 5px;
}

.header_search {
  display: inline-flex;
  border-radius: 10px;
  align-items: center;
  border: 1px solid #a8b9ff;
  transition: box-shadow 0.2s ease;
  outline: none;
}

.header_search:hover {
  box-shadow: 0px 1px 2px rgba(173, 39, 239, 0.8);
}

.header_search button,
input {
  background: transparent;
  height: 48px;
  padding: 0 16px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: white;
  outline: none;
}

::placeholder {
  color: white;
  opacity: 1;
}

.header_nav {
  display: flex;
  justify-content: flex-end;
  border: none;
}

.header_add_button :hover {
  box-shadow: 0px 1px 2px rgba(173, 39, 239, 0.8);
}
.header_add_button {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  cursor: pointer;
  text-decoration: none;
  color: #a8b9ff;
  height: 48px;
  font-size: 14px;
  font-family: "Roboto";
  outline: none;
}

.main {
  position: relative;
  padding-top: 80px;
}

.main_map {
  width: calc(100% - 540px);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.main_googleMap {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
}
.main_content {
  min-height: 100vh;
  width: 540px;
  padding: 50px 54px;
  background-color: #1f2d6a;
  scroll-behavior: smooth;
  padding-bottom: 30px;
}

#line-up div {
  border-radius: 10px;
  border-style: outset;
  border-color: #a8b9ff;
  border-width: 2px;
  padding: 10px 30px;
  background-color: #192455;
  margin-top: 28px;
}

#line-up div:hover {
  box-shadow: rgba(173, 39, 239, 0.25) -5px 5px,
    rgba(240, 46, 170, 0.2) -10px 10px, rgba(240, 46, 170, 0.1) -15px 15px;
}
.main_content p {
  font-size: 20px;
  color: white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.main_content h1 {
  margin-top: 18px;
  font-size: 32px;
  color: #a8b9ff;
}

.form-popup {
  display: none;
  position: fixed;
  top: 80px;
  right: 0;
  border: 1px outset #a8b9ff;
  z-index: 9;
}

.form-container {
  width: 300px;
  padding: 10px;
  background-color: #1f2d6a;
}

.form-container input[type="text"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  color: #1f2d6a;
}
label {
  color: white;
}

.form-container .btn {
  background-color: #a8b9ff;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
  outline: none;
}
.form-container .cancel {
  background-color: #ad27ef;
}

textarea:focus,
input:focus {
  outline: none;
}

.footer-basic {
  padding: 40px 0;
  background-color: #192455;
  color: white;
  border-top: 1px solid #a8b9ff;
}

.footer-basic a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic a:hover {
  opacity: 1;
  color: #ad27ef;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
  color: #a8b9ff;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #a8b9ff;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
  color: #ad27ef;
  border-color: #ad27ef;
}

.footer-basic .copyright {
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
  color: #a8b9ff;
  margin-bottom: 20px;
}

.main_content_addLocation {
  min-height: 100vh;
  width: 100%;
  padding: 50px 54px;
  background-color: #1f2d6a;
  padding-bottom: 30px;
}

.main_content_addLocation input[type="text"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  color: #1f2d6a;
}

.main_content_addLocation .btn {
  background-color: #a8b9ff;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 75%;
  align-items: center;
  margin-bottom: 10px;
  opacity: 0.8;
  outline: none;
}

.wrapper {
  text-align: center;
}

.deleteBtn-styled {
  border: none;
  background: transparent;
  display: block;
}

.large_icon {
  font-size: 40px;
  color: #a8b9ff;
}

.large_icon:hover {
  color: #ad27ef;
}
.addButtonIcon {
  font-size: 40px;
  color: #a8b9ff;
  background: transparent;
  border: none;
  outline: none;
}
.searchButtonLocatie {
  display: block;
  border: none;
  outline: none;
}

@media only screen and (max-width: 600px) {
  .header {
    padding: 0 5px;
  }

  .main_map {
    width: 0%;
  }
  .main_content {
    width: 100%;
    text-align: center;
    padding: 20px 54px;
  }
  .deleteBtn-styled {
    border: none;
    background: transparent;
    display: inline-block;
    text-align: center;
  }
  .form-container .btn {
    width: 75%;
    align-items: center;
  }

  .header_search {
    height: 40px;
    padding: 0 10px;
  }
  .header_search input {
    font-size: 12px;
    padding: 0 3px;
  }
  .header_search button {
    padding: 0 3px;
    font-size: 12px;
  }

  .addButtonIcon {
    padding: 0 5px 0 15px;
  }
  .large_icon {
    font-size: 32px;
  }

  .header_logo img {
    width: 85%;
  }

  .header {
    align-items: center;
  }

  .form-container {
    width: 100%;
    padding: 20px;
    background-color: #1f2d6a;
    overscroll-behavior: auto;
  }
  .form-popup {
    width: 100%;
    overflow: auto;
    overscroll-behavior-y: contain;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .main_map {
    width: 55%;
  }
  .main_content {
    width: 45%;
  }

  .main_content p {
    font-size: 16px;
  }
  .large_icon {
    font-size: 20px;
  }
  .main_content h1 {
    margin-top: 10px;
    font-size: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .main_map {
    width: calc(100% - 540px);
  }
  .main_content {
    width: 540px;
  }

  .main_content p {
    font-size: 24px;
  }
  .large_icon {
    font-size: 40px;
  }
  .main_content h1 {
    margin-top: 18px;
    font-size: 32px;
  }
}
